/workers.log
target/*
.settings
.project
.classpath
build.xml
cfg/*
bin/*
src/main/resources/AwsCredentials.properties
src/main/resources/log4j-server.properties
src/main/resources/log4j.properties
src/main/resources/CloudwatchInformer.properties
src/main/resources/CliDispatcher.properties
